<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentifikations-Mail</title>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

      body {
        font-family: 'Rubik', sans-serif;
        text-align: center;
        color: black;
      }
      #code {
        color: green;
        font-weight: bold;
      }
      .code {
        font-size: 20px;
      }
      .container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Hallo {{Name}},</h1>
      <br />
      <br />
      <p>Hier ist dein Authentifikations-Code, damit wir auch deine Identität nachweisen können.</p>
      <br />
      <p class="code">Dein Code:<span id="code"> {{Code}}</span></p>
      <br />
      <br />
    </div>
  </body>
</html>
